/* Глобальные стили для проекта, их можно дополнять и менять по желанию */
html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  all: unset;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

}

a {
  text-shadow: 2px 2px 0 var(--link-effects);
}

a:hover {
  border-bottom: 1px solid currentColor;
}

a:focus-visible {
  border: solid currentColor 1px;
}