.page {
  font-family: "IBM Plex mono", sans-serif;
  padding: 0;
  margin: 0 auto;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--background-color);
}



/*
Шапка
*/

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  box-sizing: border-box;
  padding: 0 10px;

}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 75px;
  color: var(--header-list-color);

}

.header__theme-menu-list {
  font-size: 18px;
  display: grid;
  list-style: none;
  gap: 13px;
  justify-items: center;

}

.header__theme-menu-button {
  font: inherit;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  text-transform: lowercase;
  padding: 0px 12px;
}

.header__theme-menu-button:hover {
  border: solid var(--menu-hover) 1px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  border-bottom: solid currentColor 1px;
}

.header__theme-menu-button_active {
  border: solid currentColor 1px;
  padding: 0px 12px;
  text-align: center;
  pointer-events: none;
}

.rec-label {
  font-size: 18px;
  position: absolute;
  color: #ff0070;
  top: 10px;
  right: 40px;
  text-transform: uppercase;
  display: var(--rec-display);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before, .decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 23px;
  block-size: 23px;

}

.rec-label::after {
  position: absolute;
  content: "";
  display: inline-block;
  block-size: 9px;
  inline-size: 9px;
  background-color: #ff0070;
  border-radius: 50%;
  margin-inline-start: 11px;
  margin-block-start: 8px;
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: solid var(--decorated-zone-color) 1px;
  border-right: solid var(--decorated-zone-color) 1px;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-block-end: solid var(--decorated-zone-color) 1px;
  border-inline-start: solid var(--decorated-zone-color) 1px;
}

.heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--heading-text-color);
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;


}

.title-decor {
  font-size: 18px;
  background-color: var(--title-decor-bg-color);
  line-height: 23.4px;
  block-size: max-content;
  color: var(--title-decor-text-color);

}

.header .title-decor {
  margin-block-start: 55px;
}

main {
  display: grid;
  gap: 50px;
  padding: 0 10px;
}

.card__why {
  margin-block-start: 40px;
}

.heading-cards {
  font-size: 18px;
  color: var(--heading-cards);
  margin: 0;
}

.heading-card {
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.card-text {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--card-text-color);
}

.card-title {
  margin-block-start: 20px;
  margin-block-end: 10px;
}



.title-pictures {
  margin: 0;
}

.pictures_container {
  margin-block-start: 10px;
  display: grid;
  gap: 10px;
}

img {
  margin: 0 auto;
  inline-size: 100%;
}

.footer {
  margin-block-start: 40px;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.footer .heading {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {

  .header {
    min-block-size: 1024px;
    padding: 0 20px;
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .rec-label {
    top: 20px;
    right: 50px;
  }

  .rec-label::after {
    margin-inline-start: 12px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    margin-block-start: 190px;
  }

  .header .heading {
    margin-inline-start: -20px;
  }

  .header .title-decor {
    inline-size: 364px;
    justify-self: end;
    margin-block-start: 160px;
  }


  main {
    padding: 0 20px;
    gap: 80px;
  }


  .card__why {
    margin-block-start: 60px;
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }


  .heading-card {
    margin: 0;
    margin-block-end: 10px;

  }

  .heading-cards {
    inline-size: 236px;
    margin-block-end: 20px;
  }

  .card__container {
    display: grid;
    gap: 20px;
  }

  .card__how {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .card__how .card__container {
    display: block;
  }



  .pictures {
    margin: 0 auto;
  }

  .pictures_container {
    margin-block-start: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .pictures_container img {
    object-fit: cover;
    height: 100%;

  }

  .pictures_container img:nth-child(1) {
    grid-row: 1;
    grid-column: 1/3;
  }

  .pictures_container img:nth-child(2) {
    grid-row: 1/3;
    grid-column: 3;
  }

  .pictures_container img:nth-child(3) {
    grid-row: 2/4;
    grid-column: 1;
  }

  .pictures_container img:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .pictures_container img:nth-child(5) {
    grid-row: 3;
    grid-column: 2/4;
  }

  .footer {
    padding: 0 20px;
    margin-block-start: 60px;
    min-block-size: 1024px;
  }

}

@media (min-width: 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-start: 20px;
    margin-inline-start: 5px;
  }

  .header .title-decor {
    inline-size: 491px;
    margin-block-start: 115px;
  }

  .header__theme-menu-list {
    display: flex;
    align-items: start;
  }

  .heading-cards {
    margin-block-end: 20px;
    inline-size: 315px;
  }

  .card__why {
    grid-template-columns: 315px 1fr;
  }

  .card__what .card__container {
    grid-template-columns: repeat(3, 1fr)
  }

  .card__how {
    grid-template-columns: 315px 1fr;
  }



  .footer {
    min-block-size: 768px;
  }



}