/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@font-face {
  font-family: "IBM Plex mono";
  src: url(./IBMPlexMono-Regular.woff) format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex mono";
  src: url(./IBMPlexMono-Bold.woff) format("woff");
  font-weight: bold;
  font-display: swap;
}

.page {
  font-family: "IBMPlexMono-Regular", sans-serif;
  padding: 0;
  margin: 0;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

a {
  color: var(--card-text-color);
  all: unset;
  text-shadow: 2px 2px 0 #ff0070;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: currentColor;
}

a:focus-visible {
  border: solid currentColor 1px;
}

/*
Шапка
*/

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  box-sizing: border-box;
  margin: 10px 10px 0 10px;

}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 47px;
  color: var(--header-list-color);

}

.header__theme-menu-list {
  font-size: 18px;
  display: grid;
  list-style: none;
  gap: 13px;

  justify-items: center;

}

.header__theme-menu-button {
  font: inherit;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  text-transform: lowercase;
  color: var(--accent-color);
  padding: 0px 12px;
}

.header__theme-menu-button:hover {
  border: solid currentColor 1px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  border-bottom: solid #ff0070 1px;
}

.header__theme-menu-button_active {
  border: solid currentColor 2px;
  padding: 0px 12px;
  text-align: center;
  pointer-events: none;
}

.rec-label {
  font-size: 18px;
  position: absolute;
  color: #ff0070;
  top: 1px;
  right: 7px;
  text-transform: uppercase;
  display: var(--rec-display);
}

.rec-label::after {
  content: "";
  display: inline-block;
  block-size: 12px;
  inline-size: 12px;
  background-color: #ff0070;
  border-radius: 50%;
  margin-inline-start: 10px;
}

.header.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 23px;
  height: 23px;
  border-top: solid var(--decorated-zone-color) 1px;
  border-right: solid var(--decorated-zone-color) 1px;
}

.header.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 23px;
  height: 23px;
  border-block-end: solid var(--decorated-zone-color) 1px;
  border-inline-start: solid var(--decorated-zone-color) 1px;
}

.heading {
  font-family: IBMPlexMono-Bold, sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--heading-text-color);
  margin: 0;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  margin-block-end: 18px;

}

.title-decor {
  font-family: IBMPlexMono-Bold, sans-serif;
  font-size: 18px;
  background-color: var(--title-decor-bg-color);
  line-height: 23.4px;
  block-size: max-content;
  color: var(--title-decor-text-color);

}

.header .title-decor {
  margin-block-start: 36px;
}

.cards {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  margin-block-start: 30px;
  gap: 50px;
}

.heading-cards {
  font-family: IBMPlexMono-Bold, sans-serif;
  font-size: 18px;
  color: var(--heading-cards);
  margin: 0;
  line-height: 23.4px;
}

.heading-card {
  font-weight: 700;
  margin: 0;
  margin-block-start: 20px;
}

.card-text {
  font-family: IBMPlexMono-Regular, sans-serif;
  line-height: 23.4px;
  color: var(--card-text-color);
  margin: 0;
  margin-block-start: 10px;


}

h4 {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: normal;
  background-color: var(--title-decor-bg-color);
  color: var(--title-decor-text-color);
  margin: 0;
  margin-block-start: 20px;

}

.pictures {
  margin: 0 10px;
  margin-block-start: 50px;
  max-inline-size: 365px;
  grid-template-columns: 1fr;
}

.title-pictures {
  margin: 0;
}

.pictures_container {
  margin-block-start: 10px;
  display: grid;
  gap: 10px;
}

img {
  margin: 0 auto;
  inline-size: 100%;
}

.footer {
  margin: 0 10px;
  margin-block-start: 40px;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}

.footer.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 23px;
  height: 23px;
  border-top: solid var(--decorated-zone-color) 1px;
  border-right: solid var(--decorated-zone-color) 1px;
}

.footer.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 23px;
  height: 23px;
  border-bottom: solid var(--decorated-zone-color) 1px;
  border-left: solid var(--decorated-zone-color) 1px;
}

p.heading {
  margin: 0;
  text-shadow: 2px 2px 0 var(--accent-color);

}

@media (min-width: 768px) {

  .header {
    block-size: 100vh;
    min-block-size: 1024px;
    margin: 20px 20px 0 20px;
  }

  .header__theme-menu {
    margin-block-start: 155px;
  }

  .header .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
    margin-block-end: 35px;
  }

  .header .title-decor {
    inline-size: 364px;
    justify-self: end;
    margin-block-start: 125px;
  }

  .header.decorated-zone::after {
    bottom: 40px;
  }

  .cards {
    display: grid;
    gap: 80px;
    margin: 0 20px;
    margin-block-start: 40px;
  }

  .card:nth-child(1) {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .heading-card {
    margin: 0;

  }

  .heading-cards {
    margin: 0;
    inline-size: 236px;
    margin-block-end: 20px;
  }

  .card_container {
    display: grid;
    gap: 20px;
  }

  .card:nth-child(3) {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  h4 {
    margin: 0;
  }

  .pictures {
    margin: 0 20px;
    margin-block-start: 80px;
    max-inline-size: 1024px;
  }



  .pictures_container {
    margin-block-start: 20px;
    display: grid;
    grid-template-columns: 229px 230px 229px;
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .pictures_container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;

  }

  .pictures_container img:nth-child(1) {

    grid-row: 1;
    grid-column: 1/3;
  }

  .pictures_container img:nth-child(2) {
    grid-row: 1/3;
    grid-column: 3;
  }

  .pictures_container img:nth-child(3) {
    grid-row: 2/4;
    grid-column: 1;
  }

  .pictures_container img:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .pictures_container img:nth-child(5) {
    grid-row: 3;
    grid-column: 2/4;
  }

  .footer {
    margin: 0 20px;
    margin-block-start: 60px;
    block-size: 100vh;
    min-block-size: 1024px;
  }

  p.heading {

    margin: 0;
    margin-block-start: 5px;
  }

  .footer.decorated-zone::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 23px;
    height: 23px;
    border-top: solid var(--decorated-zone-color) 1px;
    border-right: solid var(--decorated-zone-color) 1px;
  }

  .footer.decorated-zone::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 23px;
    height: 23px;
    border-bottom: solid var(--decorated-zone-color) 1px;
    border-left: solid var(--decorated-zone-color) 1px;
  }
}

@media (min-width: 1024px) {
  .header {
    min-block-size: 768px;
    margin: 20px 20px 0 20px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0;
    margin-inline-start: 5px;
  }

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);


  }

  .header .title-decor {
    inline-size: 491px;
    justify-self: end;
    margin-block-start: 75px;
  }

  .header__theme-menu-list {
    padding: 0;
    display: flex;
    align-items: start;
    margin: 0;
  }

  .heading-cards {
    margin: 0;
    margin-block-end: 20px;
    inline-size: 315px;
  }

  .card:nth-child(1) {
    display: grid;
    grid-template-columns: 315px 1fr;
    gap: 20px;
  }

  .card:nth-child(2) .card_container {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    gap: 20px;
  }

  .card:nth-child(3) {
    display: grid;
    grid-template-columns: 315px 1fr;
    gap: 20px;
  }

  .pictures_container {
    grid-template-columns: 315px 315px 314px;
    grid-template-rows: 260px 315px 433px;
  }

  .footer {
    block-size: 100vh;
    min-block-size: 768px;
    margin: 0 20px;
    margin-block-start: 60px
  }




}